.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.authorization-container{
    width: 268px;
    height: 350px;
    border: 1px solid black; 
    text-align: center;
    margin-top: 100px;
}

.form-build{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.form-button{
   background-color: orange;
   border: none;
   height: 30px;
   width: 60px;
}

.alternative-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.snippets-list-container{
    width: 80%;
    display: flex;
    border: 1px solid black;
    height: 500px;
}


.snippet-container{
    width: 265px;
    height: 250px;
    border: 1px solid black;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}


.snippet-textbox-container{
    width: 80%;
    height: 60%;
    background-color: grey;
}

.snippet-modify-container{
    width: 80%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 30px;
   
}

header{
    width: 100%;
    height: 150px;
    background-color: orange;
}


























.none{
    display: none;
}