.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.authorization-container{
    width: 268px;
    height: 350px;
    border: 1px solid black; 
    text-align: center;
    margin-top: 100px;
}

.form-build{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.form-button{
   background-color: orange;
   border: none;
   height: 30px;
   width: 60px;
}







































.none{
    display: none;
}